<<<<<<< HEAD
form{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 2em;
    margin-left: 20em;
    margin-bottom: 30em;
    margin-right: 15em;

}

input{
    display: flex;
    padding: 15;
    
=======
.error{
    color: red;
>>>>>>> 8a2eb0d25ee05c67851748211996a5352d2d0be0
}